.b8 {
	left: 101px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.d8 {
	left: 301px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.f8 {
	left: 501px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.h8 {
	left: 701px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.a7 {
	top:107px;
	left: 1px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.c7 {
	top:107px;
	left: 201px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.e7 {
	top:107px;
	left: 401px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.g7 {
	top:107px;
	left: 601px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.b6 {
	top:207px;
	left: 101px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.d6 {
	top:207px;
	left: 301px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.f6 {
	top:207px;
	left: 501px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.h6 {
	top:207px;
	left: 701px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.a5 {
	top:307px;
	left: 1px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.c5 {
	top:307px;
	left: 201px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.e5 {
	top:307px;
	left: 401px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.g5 {
	top:307px;
	left: 601px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.b4 {
	top:407px;
	left: 101px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.d4 {
	top:407px;
	left: 301px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.f4 {
	top:407px;
	left: 501px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.h4 {
	top:407px;
	left: 701px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.a3 {
	top:507px;
	left: 1px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.c3 {
	top:507px;
	left: 201px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.e3 {
	top:507px;
	left: 401px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.g3 {
	top:507px;
	left: 601px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.b2 {
	top:607px;
	left: 101px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.d2 {
	top:607px;
	left: 301px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.f2 {
	top:607px;
	left: 501px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.h2 {
	top:607px;
	left: 701px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.a1 {
	top:707px;
	left: 1px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.c1 {
	top:707px;
	left: 201px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.e1 {
	top:707px;
	left: 401px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}
.g1 {
	top:707px;
	left: 601px;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color:#000000;
}



